<form>

	<div>Email Address: {{emailAddress}}</div>
	<div>First Name:{{firstName}}</div>
	<div>Last Name:{{lastName}}</div>
	<button type="button" data-edit-account>Edit Account</button>
	<button type="button" data-list-accounts>Return to List</button>

</form>
